.welcome-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .background-video {
    object-fit: cover;
    width: 2000px;
    height: 720px;
    position: relative;
    top: 0;
    left: 0;
    animation: fadeIn 1s;
  }
  
  .overlay-text {
    position: absolute;
    top: 180px;
    left: 350px;
    text-align: left;
    animation: fadeIn 1s;
  }

  @keyframes fadeIn {
    0% {opacity: 0; }
    100% {opacity: 1; }
  }
  
  .name {
    color: white;
    font-size: 70px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
  }

  .bio {
    color: white;
    font-size: 20px;
    font-weight: 300;  
  }

  .button {
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 10px 50px;
    font-size: 11px;
    font-weight: 100;
    border: 1px solid white;
    cursor: pointer;
    transition: background-color 0.5s ease;
    animation: fadeIn 1s;
  }

  .button:hover {
    color: white;
    background-color: transparent;
  }